# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/

# Visual Studio Code
.vscode/

# Docker
*.sql
*.md
Dockerfile
docker-compose.yml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Others
.env
